streamlit
openai
pymupdf
chromadb
langchain
langchain-community
langchain-text-splitters
pypdf
python-magic
pandas
sqlalchemy
plotly
pdfplumber
sqlite-vec
prometheus-client
sentence-transformers
sqlparse
python-dotenv